<h1>Detalles del Carrito</h1>

<!-- Lista de productos en el carrito -->
<ul>
  {{#each cart.products}}
    <li>
      <h2>{{this.product.title}}</h2>
      <p>Descripción: {{this.product.description}}</p>
      <p>Precio unitario: ${{this.product.price}}</p>
      <p>Cantidad: {{this.quantity}}</p>

      <!-- Formulario para actualizar cantidad -->
      <form action="/api/carts/{{../cart._id}}/updateQuantity/{{this.product._id}}" method="POST">
        <label for="quantity">Actualizar cantidad:</label>
        <input type="number" name="quantity" value="{{this.quantity}}" min="1" required>
        <button type="submit">Actualizar</button>
      </form>

      <!-- Botón para eliminar el producto del carrito -->
      <form action="/api/carts/{{../cart._id}}/remove/{{this.product._id}}" method="POST">
        <button type="submit">Eliminar</button>
      </form>
    </li>
  {{/each}}
</ul>

<!-- Mostrar total del carrito -->
<p>Total del carrito: ${{cartTotal}}</p>

<!-- Botón para proceder al pago -->
<a href="/api/carts/{{cart._id}}/checkout" class="btn btn-primary">Proceder al pago</a>
