<h1>Mi Carrito</h1>
<ul>
  {{#each cart.products}}
    <li>
      <h2>{{this.product.title}}</h2>
      <p>Precio unitario: ${{this.product.price}}</p>
      <p>Cantidad: {{this.quantity}}</p>
      <a href="/api/carts/remove/{{../cart._id}}/{{this.product._id}}">Eliminar</a>
    </li>
  {{/each}}
</ul>
<p>Total: ${{total}}</p>
